<form class="formProyectos">
  <div class="contentForm">
    <!-- Aqui estan las tareas y los proyectos -->
    <div class="contTP">
      <!-- Para agregar Proyectos -->
      <div class="contProyecto">
        <div class="contProyecto1">
          <label for="NombreProyecto">Nombre Del Proyecto:</label>
          <input
            type="text"
            name="NombreProyecto"
            [(ngModel)]="proyect.nameProyect"
            class="form_input"
            autofocus
          />
          <select id="TipodeProyecto" name="TipodeProyecto" [(ngModel)]="proyect.idType">
            <option value="opcion1">Tipo de Proyecto</option>
            <option value="1">Escolar</option>
            <option value="2">Trabajo</option>
            <option value="3">Personal</option>
          </select>
          <div class="contProyectoFechas">
            <div class="contProyectoFechas1">
              <label for="FechaInicioP">Fecha de Inicio: </label>
              <input
                type="date"
                id="FechaInicioP"
                name="Fecha de Inicio"
                [(ngModel)]="proyect.fechaI"
                class="form_input"
              />
            </div>
            <div class="contProyectoFechas1">
              <label for="FechaFinalP">Fecha Final: </label>
              <input
                type="date"
                id="FechaFinalP"
                name="Fecha Final"
                [(ngModel)]="proyect.fechaF"
                class="form_input"
              />
            </div>
          </div>
          <label for="Descripcion">Descripcion: </label>
          <textarea
            id="Descripcion"
            name="Descripcion"
            class="form_input"
            [(ngModel)]="proyect.descripcion"
            rows="5"
            placeholder="Escribe una descripción detallada aquí..."
          ></textarea>
        </div>
      </div>
      <div class="perNotType">
        <div class="notas-container">
          <h2>Notas:</h2>
          <textarea id="Notas" name="Notas" [(ngModel)]="proyect.notas" class="notas-textarea" placeholder="Escribe tus notas aquí..."></textarea>
        </div>        
    </div>
     
    </div>
    <!-- Aqui van las personas, notas y tipo -->
    <div class="perNotType-Container">
      <button type="button" class="submit-button" (click)="edit ? updateProyect(): saveNewProyect()">Subir Proyecto</button>

      <div class="personas-container">
        <h2>Personas:</h2>
        <div class="personas-list">
          <div ><!--*ngFor="let persona of proyect.PersonasInvolucradas" class="persona"-->
            <img [src]="">
            <span></span>
          </div>
        </div>
        <div class="personas-disponibles">
          <h3>Personas disponibles:</h3>
          <ul>
            <li><!--*ngFor="let persona of personasDisponibles" (click)="agregarPersona(persona)"-->
              <img [src]="" >

            </li>
          </ul>
        </div>
      </div>
   

    </div>
  </div>
</form>
