<header>
    <app-navigation></app-navigation>
    <app-nav-nar-lat></app-nav-nar-lat>
</header>

<body class="body">
    <div class="container">
        <div class="user-card">
            <div class="user-info">
                <img src="../../../../assets/img/Icon-User/icon-user-4.jpg" alt="Usuario 1">
                <div class="user-details">
                    <h1>Andres_a</h1>
                    <p>Jose Andres</p>
                </div>
            </div>
            <div class="projects">
                <h2>Proyectos Involucrados</h2>
                <ul>
                    <li>Proyecto A</li>
                    <li>Proyecto B</li>
                </ul>
            </div>
            <div class="actions">
                <button class="edit-btn">Editar</button>
                <button class="delete-btn">Borrar</button>
            </div>
        </div>
        <div class="user-card">
            <div class="user-info">
                <img src="../../../../assets/img/Icon-User/icon-user-2.jpg"  alt="Usuario 2">
                <div class="user-details">
                    <h1>gustavo_p3</h1>
                    <p>Brandon Gustavo</p>
                </div>
            </div>
            <div class="projects">
                <h2>Proyectos Involucrados</h2>
                <ul>
                    <li>Proyecto C</li>
                    <li>Proyecto D</li>
                </ul>
            </div>
            <div class="actions">
                <button class="edit-btn">Editar</button>
                <button class="delete-btn">Borrar</button>
            </div>
        </div>
        <div class="user-card">
            <div class="user-info">
                <img src="../../../../assets/img/Icon-User/icon-user-3.jpg"  alt="Usuario 3">
                <div class="user-details">
                    <h1>pipo</h1>
                    <p>Felipe</p>
                </div>
            </div>
            <div class="projects">
                <h2>Proyectos Involucrados</h2>
                <ul>
                    <li>Proyecto E</li>
                    <li>Proyecto F</li>
                </ul>
            </div>
            <div class="actions">
                <button class="edit-btn">Editar</button>
                <button class="delete-btn">Borrar</button>
            </div>
        </div>
    </div>

<a routerLink="/crear-socios" class="add-btn">+</a>

</body>