

<header>
    <app-navigation></app-navigation>
</header>

<body>
    <header>
        <h1>Agregar Nuevo Usuario</h1>
    </header>
    <div class="form-container">
        <form class="user-form">
            <label for="nombres">Nombre:</label>
            <input type="text" id="nombres" name="nombres" required [(ngModel)]="usuario.nombres">
            
            <label for="aPuP">Apellido Paterno:</label>
            <input type="text" id="aPuP" name="aPuP" required [(ngModel)]="usuario.aPuP">
            
            <label for="aPuM">Apellido Materno:</label>
            <input type="text" id="aPuM" name="aPuM" required [(ngModel)]="usuario.aPuM">
            
            <label for="usuario">correo electronico:</label>
            <input type="text" id="usuario" name="usuario" required [(ngModel)]="usuario.usuario">
            
            <label for="contraseña">Contraseña:</label>
            <input type="password" id="contraseña" name="contraseña" required [(ngModel)]="usuario.password">
            <label for="confirmacontraseña">Confirma Contraseña:</label>
            <input type="password" id="contraseñaconfirma" name="contraseña" required [(ngModel)]="confirmpass">
            
            <label for="icono">Avatar:</label>
            <select id="icono" name="icono" required [(ngModel)]="usuario.icono">
                <option value="" disabled selected>Selecciona un icono</option>
                <!-- Aquí se pueden agregar más opciones según los iconos que tengas disponibles -->
                <option value="../../../../assets/img/Icon-User/icon-user-1.jpg">Icono 1</option>
                <option value="../../../../assets/img/Icon-User/icon-user-2.jpg">Icono 2</option>
                <option value="../../../../assets/img/Icon-User/icon-user-3.jpg">Icono 3</option>
                <option value="../../../../assets/img/Icon-User/icon-user-4.jpg">Icono 4</option>
                <option value="../../../../assets/img/Icon-User/icon-user-5.jpg">Icono 5</option>
            </select>
            
            <button type="submit"(click)="crearUsuario()">crear cuenta </button>
        </form>
    </div>
</body>