body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e8f5e9; /* Verde pastel muy claro */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco para el formulario */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user-form label {
    font-weight: bold;
    color: #004d40; /* Verde oscuro */
    margin-bottom: 5px;
}

.user-form input, .user-form select {
    padding: 12px;
    border: 1px solid #a5d6a7; /* Borde verde pastel */
    border-radius: 8px;
    font-size: 1em;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.user-form input:focus, .user-form select:focus {
    border-color: #00796b; /* Verde más oscuro en el enfoque */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

.user-form button {
    background-color: #a5d6a7; /* Verde pastel */
    color: #004d40; /* Verde oscuro para el texto */
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s, transform 0.2s;
}

.user-form button:hover {
    background-color: #2d897a;/* Verde más oscuro para hover */
    color: white;
    transform: scale(1.05);
}

.user-form button:active {
    background-color: #2d897a; /* Verde aún más oscuro para clic */
    transform: scale(1);
}
