<header>
  <nav class="navbar2">
    <ul class="nav-list2">
      <li>
        <a routerLink=".."><img src="../assets/img/Ribbit_Dary_Logo_SF.png" height="100px" /></a>
      <li><h2>Ribbit Dary</h2></li>
    </ul>



    <div class="nav-info" *ngFor="let user of usuario">
      <a routerLink="/comentarios">
        <i class="fas fa-exclamation-triangle"></i>
      </a>
      <i class="fas fa-bell" routerLink="/politicas"></i>
      <!--<button class="ready-button">Listo</button> -->
      
      <div class="nav-button-1" *ngIf="router.url !== '/login' && user.idTipo !== 3">
        <div>
          <a [routerLink]="['/crear-proyectos', user.idU]">
            <button>Crear Proyecto</button>
          </a>
        </div>
      </div>
      
      
      <div  *ngIf="router.url !== '/login'">
        <div class="user-info" *ngFor="let user of usuario">
        <img [src]="user.icono" />
        <p class="user-name">{{user.nombres}}</p>
        </div>
      </div>
    </div>
  </nav>
</header>


