

/*Info del navbar*/

.nav-info{
    border: none;
    font-size: 1em;
    cursor: pointer;
    padding-right: 5%;
    width: 39%;
}

.nav-button-1 button {
    height: 50px;
    width: 150px;
    background-color: #82c45d;
    border-radius: 5%;
    color: white;

    font-size: 1.3em;
    font-family: 'CascadiaMonoExtraLight', monospace;
    font-size: 1em;
}

.nav-info{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .nav-info i {
    font-size: 24px;
    color: #555;
    margin-right: 5%;
  }
  
  .ready-button {
    padding: 5px 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .ready-button:hover {
    background-color: #218838;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 1%;
    width: 1000px;
  }
  
  .user-info img{
    height: 50px;
    border-radius: 100%;
}
  
  .user-name {
    font-size: 16px;
    color: #333;
  }
  
/*Nombre del proyecto*/
.nav-infoNP h2{
  font-size: 1.5em;
 }
