
<body>  
    <div class="caja">
    <div class="contenedor">

    <img src= "..\assets\img\pngwing.com.png" class="imagen1">
    </div>    
    <h2>Iniciar Sesión</h2>
    <form action="/login" method="post">
    <input type="text" name="username" placeholder="Nombre de usuario " required>
    <input type="password" name="password" placeholder="Contraseña" required>
    <input type="submit" routerLink="/proyectos" value="Entrar">
    </form>
    <div class="message">
        ¿No tienes una cuenta?
        <div><a href="/registro">Crea una cuaenta aqui</a> </div>
        </div>
        </div>
</body>
