/* Estilos para la clase .containerTa */
.containerTa {
    display: flex;
    justify-content: center;
  }
  
  .task-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas en la rejilla */
    gap: 20px;
  }
  
  .task-card {
    background: #e0f2f1; /* Verde pastel */
    border: 1px solid #b2dfdb; /* Verde más claro */
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .task-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .task-info h2 {
    margin: 0;
    font-size: 1.5em;
    color: #00796b; /* Azul pastel */
    font-family: 'Roboto', sans-serif; /* Fuente moderna */
  }
  
  .task-info p {
    margin: 5px 0;
    color: #004d40; /* Verde oscuro */
    font-family: 'Roboto', sans-serif; /* Fuente moderna */
  }
  
  .task-persons {
    margin-top: 15px;
  }
  
  .task-users {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .task-user {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .task-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
  }
  
  .task-user span {
    line-height: 40px;
    color: #00796b; /* Azul pastel */
    font-family: 'Roboto', sans-serif; /* Fuente moderna */
  }
  
  .task-status {
    margin-top: 10px;
    display: flex;
  }
  
  .bodyT h1, h2 {
    font-family: 'Roboto', sans-serif; /* Fuente moderna para los títulos */
    color: #0d2208; /* Verde oscuro */
  }
  