<form class="formProyectos">
  <div class="contentForm">
    <div class="contT">
      <div class="contTarea">
        <div class="contTarea1">
          <label for="NombreTarea">Nombre De la Tarea: </label>
          <input
            type="text"
            id="NombreTarea"
            name="NombreTarea"
            input=" Nombre del Tarea"
            [(ngModel)]="tarea.nomTarea"
            class="form_input"
          />
          <label for="Descripcion">Descripcion: </label>
          <input
            type="text"
            id="Descripcion"
            name="Descripcion"
            input="Descripcion"
            [(ngModel)]="tarea.descripcion"
            class="form_input"
          />
          <!-- Aquí se agregan los materiales -->
          <label for="Materiales">Material:</label>
          <input
            type="text"
            id="Materiales"
            [(ngModel)]="newMaterial"
            name="newMaterial"
          />
          <!-- Botón que agrega los materiales al arreglo -->
          <button type="button" class="btn btn-primary" (click)="addMaterial()">
            Añadir Material
          </button>

          <!-- Lista de materiales añadidos -->
          <div class="materiales-lista">
            <h4>Materiales Añadidos:</h4>
            <ul class="list-group">
              <li
                *ngFor="let material of materiales"
                class="list-group-item"
              >
                {{ material.nombreMaterial }}
                <!-- Botón para borrar los materiales -->
                <button type="button" (click)="removeMaterial(material)">
                  Eliminar
                </button>
              </li>
            </ul>
          </div>

          <select
            id="PersonaEncarga"
            name="Persona Encargada"
            [(ngModel)]="tarea.idColaborador"
          >
            <option value="opcion1">Persona encargada</option>
            <option
              *ngFor="let user of colaboradores"
              value="{{ user.idU }}"
            >
              {{ user.nombres }}
            </option>
          </select>
          <div class="contTareasFechas">
            <div class="contTareasFechas1">
              <label for="FechaInicioP">Fecha de Inicio: </label>
              <input
                type="date"
                id="FechaInicioP"
                name="Fecha de Inicio"
                input="Fecha de Inicio"
                class="form_input"
                [(ngModel)]="tarea.fechaI"
              />
            </div>
            <div class="contTareasFechas1">
              <label for="FechaFinalP">Fecha Final: </label>
              <input
                type="date"
                id="FechaFinalP"
                name="Fecha Final"
                input="Fecha Final"
                class="form_input"
                [(ngModel)]="tarea.fechaF"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="submit-button" (click)="saveNewTarea()">
    Subir tarea
  </button>
</form>
