.formProyectos{
    width: 100%;
    margin-top: 2%;
    font-family: 'CascadiaMonoExtraLight', monospace;
    display: flex;
    gap: 20px;
 
}
/* Contenido del formulario */


.contentForm{
    display: inline;
    width: 70%;
    background-image: url('../../../../assets/img/Imagenes_RibbitDary/fondo-cuadros-azules.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    margin-bottom: 4%;
    border-radius: 20px;
    padding: 3%;
    display: grid;
    flex-direction: column; 
   
}

.contentForm label{
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 1%;
}
.contentForm input{
    background: white;
    border: none;
    color: #000000;
    height: 40px;
    font-size: .8em;
    text-align: center;
    margin-bottom: 1%;
}



.contentForm select{
    background-color: #95d1f8ec;
    border: none;
    color: #000000;
    height: 50px;
    font-size: 1em;
    text-align: center;
    margin-bottom: 1%;

}

/*Contenido de las fechas*/
.contTareasFechas{
    display: flex;
    gap: 45%;
    margin-top: 10px;
}

.contTareasFechas1{
    display: grid;
    gap: 10%;
}


/*Boton subir tarea*/
.submit-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 30px;
    font-size: 1em;
    color: #fff;
    background-color: #82c45d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'CascadiaMonoExtraLight', monospace;
  }

  .submit-button:hover {
    background-color: #28a7465e;
  }



  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
  }
  
  .btn-success {
    background-color: #28a745;
    color: white;
  }

  /*Materiales*/
/* Materiales */
.materiales-lista {
  background-color: #a0f8b2;
  width: 40%;
  border-radius: 10px;
  padding: 10px 20px;
  height: 100%;
}

.list-group {
  list-style-type: none;
  padding-left: 0;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
}

.btn-remove {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

.btn-remove:hover {
  color: darkred;
}

.btn-remove i {
  font-size: 18px;
}
