<header><app-navigation></app-navigation></header>

<body>

  <div class="container-info">
    <div class="img">
      <a href="https://www.youtube.com/watch?v=YIALlhlyqO4/" id="enlace">
        <img src="../../../assets/img/Ribbit_Dary_Logo_SF.png"
      /></a>
    </div>

    <form
      action="mailto:brandonchustivo@gmail.com"
      method="POST"
      enctype="text/plain"
      class="formulario"
    >
      <div class="formularioInfo">
        <h1 class="form_titulo">Reporta tu Problema</h1>
        <h3>___________________________________</h3>

        <input
          type="text"
          id="name"
          name="Nombre"
          class="form_input"
        />
        <label for="name" class="form_label">Nombres</label>

        <input type="email" id="email" name="Email" class="form_input" />
        <label for="correo" class="form_label">Correo</label>

        <input
          type="text"
          id="fon"
          name="Telefono"
          class="form_input"
        />
        <label for="fon" class="form_label">Telefono</label>

        <input type="text" id="msg" name="Problema" class="form_input" />
        <label for="msg" class="form_label">Problema</label>

        <div class="container-btn">
          <input type="submit" class="form_boton" />
          <input type="reset" class="form_boton_re" />
        </div>
      </div>
    </form>
  </div>

  <footer>
    <div class="footer-content">
      <div class="footer-section about">
        <h2>Ribbit Dary</h2>
        <p>
          Ribbit Dary es una herramienta gratuita de gestión de actividades que
          ayuda a organizar y administrar equipos de manera eficiente.
        </p>
        <div class="socials">
          <a href="#"
            ><img src="../assets/img/facebook-icon.png" alt="Facebook"
          /></a>
          <a href="#"
            ><img src="../assets/img/twitter-icon.png" alt="Twitter"
          /></a>
        </div>
      </div>
      <div class="footer-section links">
        <h2>Enlaces Rápidos</h2>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#caracteristicas">Características</a></li>
          <li><a href="#">Precios</a></li>
        </ul>
      </div>
      <div class="footer-section contact">
        <h2>Contacto</h2>
        <p>
          <img src="../assets/img/phone-icon.png" alt="Teléfono" /> +123 456 789
        </p>
        <p>
          <img src="../assets/img/email-icon.png" alt="Correo Electrónico" />
        </p>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; 2024 Ribbit Dary. Todos los derechos reservados.
    </div>
  </footer>
</body>
