<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tarea</title>
  </head>
  <body class="bodyT">
    <h1>Tareas:</h1>

    <div class="containerTa">
      <div class="containerT">
        <div class="container-Tarea" *ngFor="let tarea of tareas">
          <div class="cont-Tarea-Info">
            <div class="container-Tarea-Div1">
              <h2>Tarea:</h2>
              <p>{{tarea.nomTarea}}</p>
              <h2>Fecha</h2>
              <p>{{tarea.fechaI}}</p>
              <h2>Descripcion</h2>
              <p>{{tarea.descripcion}}</p>
            </div>
            <div class="container-Tarea-Div2">
              <h2>Materiales</h2>
              <li *ngFor="let material of tarea.Materiales">
                {{material.Material}}
              </li>
              <div>
                <h2>Fecha de Fin:</h2>
                <p>{{tarea.fechaF}}</p>
              </div>
            </div>
            <div class="container-Tarea-Div3">
              <div class="usersC">
                <h2>Persona encargada:</h2>
                <div class="users">
                  <img [src]="" />
                  <p>{{tarea.idColaboradores}}</p>
                </div>
              </div>
              <div class="users">
                <h2>Completado</h2>
                <input type="checkbox" id="completed" name="completed" />
              </div>
            </div>
          </div>
          <div class="edit-delete-buttons">
            <button ><i class="fas fa-edit"></i></button>
            <button ><i class="fas fa-trash"></i></button>
          </div>
        </div>

        <div class="add-task-button" [routerLink]="['/crear-tareas', idP]">
          +
        </div>
      </div>

      <div class="containerP">
        <div class="container-Col-Pro">
          <div class="cont-Col-Info-Pro">
            <div>
              <h3>Descripción del proyecto:</h3>
            </div>
            <div class="usersCol">
              <p>{{ proyects.descripcion }}</p>
            </div>
          </div>
        </div>
        <div class="container-Col-Pro">
          <div class="cont-Col-Info-Pro">
            <div>
              <h3>Notas del proyecto:</h3>
            </div>
            <div class="usersCol">
              <p>{{ proyects.notas }}</p>
            </div>
          </div>
        </div>
        <div class="container-Col">
          <div class="cont-Col-Info">
            <div>
              <h3>Personas en el proyecto:</h3>
            </div>
            <div class="usersCol">
              <ng-container *ngFor="let user of colaboradores">
                <h3>{{user.idColaborador}}</h3>
                <img [src]="user.idColaborador" />
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
